<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${keskustelualue.nimi}">Keskustelualue</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>
            Aiheen <i><span th:text="${keskustelualue.nimi}">Keskustelualue</span></i> keskustelunavaukset
        </h2>
        <table>
            <tr>
                <th>Keskustelunavaus</th>
                <th>Viestejä</th>
                <th>Viimeisin viesti</th>
            </tr>
            <tr th:each="keskustelunavaus: ${keskustelunavaukset}">
                <td>
                    <a th:href="@{~/avaus/{id}(id=${keskustelunavaus.id})}" th:text="${keskustelunavaus.nimi}"></a> 
                </td>
                <td>
                    <span th:text="${keskustelunavaus.viestit}">viestit</span>
                </td>
                <td>
                    <span th:text="${keskustelunavaus.viimeisin}">viimeisin</span>
                </td>
            </tr>
           
        </table>


        <h2>Luo uusi keskustelunavaus</h2>

        <form method="POST" th:action="@{~/alue/{id}/avaus(id=${keskustelualue.id})}">
            <textarea name="name" placeholder="Keskustelunavauksen nimi" rows="1" cols="75" maxlength="75"></textarea><br />
            <textarea name="viesti" placeholder="Viesti" rows="5" cols="80" maxlength="1000"></textarea><br />
            <input type="text" placeholder="Nimimerkki" name="nimimerkki" maxlength="30"/>
            <input type="submit" value="Lisää!"/>
        </form>
        
        <form method="GET" th:action="@{~/}">
            <input type="submit" value="Takaisin etusivulle"/>
        </form>

    </body>
</html>