<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${keskustelunavaus.nimi}">Keskustelualue</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>
            <i><span th:text="${keskustelunavaus.nimi}">Keskusteluavaukset</span></i>
        </h2>
        <table>
            <tr th:each="viesti: ${viestit}">
                <td>
                (<span th:text="${viesti.id}">1</span>) <span th:text="${viesti.sisalto}">chatviesti</span>
                t. <span th:text="${viesti.nimimerkki}">nick</span>
                </td>
            </tr>
        </table>
        
        <form method="POST" th:action="@{~/avaus_sivu/{sivu}/edellinen (sivu=${sivu})}">
            <input type="submit" value="Edellinen sivu"/>
        </form>
        
        <form method="POST" th:action="@{~/avaus_sivu/{sivu}/seuraava (sivu=${sivu})}">
            <input type="submit" value="Seuraava sivu"/>
        </form>

        <h2>Lisää uusi viesti</h2>

        <form method="POST" th:action="@{~/avaus/{id}/luoviesti(id=${sivu})}">
            <textarea rows="5" cols="80" name="viesti" maxlength="1000">Viesti </textarea><br />
            <input type="text" value="Nimimerkki" name="nimimerkki" />
            <input type="submit" value="Lisää!"/>
        </form>

        <form method="POST" th:action="@{~/avaus_sivu/{sivu}/alue (sivu=${sivu})}">
            <input type="submit" value="Takaisin keskustelualueelle"/>
        </form>
        
        <form method="GET" th:action="@{~/}">
            <input type="submit" value="Takaisin etusivulle"/>
        </form>
    </body>
</html>